

.loginForm {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 37%;
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    backdrop-filter: blur(10px);
    padding: 20px 10px;
    border-radius: 20px;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    /* width: 50%; */
    font-size: x-large;
    color: white;
}

.input::placeholder {
    color: white;
}
.inputLabel {
    display: flex;
    justify-content: center;
    margin: 50px 20px;
}

.btn {
    border: 2px solid white;
    background: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.6rem;
    margin: 5px 5px;
    width: fit-content;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.link_1 {
    color: white;
}

@media (max-width: 768px) {

    .loginForm {
        margin:0 15%;
    }
}
@media (max-width: 522px) {

    .loginForm {
        margin:0 10%;
    }
}
@media (max-width: 376px) {

    .loginForm {
        margin:0 2.5%;
    }
}