.card {
    border: 2px solid white;
    width: auto;
    padding: 10px 10px;
    /* text-align: center; */
    align-items: center;
    border-radius: 10px;

    /* background-color: white;
    
    color: black; */
}

.carouselContainer {
    /* border: 2px solid white; */
    padding: 20px 10px;
    width: 90%;
    /* color: black; */

}



