.navbar {
    /* border: 2px solid white; */
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    /* border-bottom: 3px solid white; */
    margin: 10px;
}

.logo {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.search {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 10px;
    /* width: 20%; */
    /* flex-direction: ; */
}


.search input {
    background: transparent;
    /* border: 2px solid white; */
    border: none;
    padding: 5px 10px;
    backdrop-filter: blur(30px);
    height: 25px;
    border-radius: 10px;
    color: white;
    font-size: large;
    margin-right: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);

}

/* .search input:hover {
    background-color: white;
    color: black;
} */

.search input::placeholder {
    color: white;
}


.navbar ul {
    display: flex;
    /* flex-direction: column; */
}

.cart {
    /* border: 1px solid white; */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);

}

.cart:hover {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}

.link {
    color: white;
    text-decoration: none;
}


.navbar ul li:hover {
    cursor: pointer;
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    text-decoration: underline;
}