.navbar {
    /* border: 2px solid white; */
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    /* border-bottom: 3px solid white; */
    margin: 10px;
}

.logo {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.search {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px;
    width: 15%;
    /* flex-direction: ; */
}


.search input {
    background: transparent;
    border: 2px solid white;
    /* border: none; */
    padding: 5px 10px;
    backdrop-filter: blur(10px);
    height: 25px;
    border-radius: 10px;
    color: white;
    font-size: large;
}

/* .search input:hover {
    background-color: white;
    color: black;
} */

.search input::placeholder {
    color: white;
}


.navbar ul {
    display: flex;
    /* flex-direction: column; */
}

.navbar ul li {
    list-style: none;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}

.navbar li:hover {
    cursor: pointer;
    backdrop-filter: blur(20px);
}